## Deliverable 3. Create a Travel Itinerary Map.

In [15]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [16]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("../Weather_Database/WeatherPy_vacation.csv")
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,9,Porto Seguro,BR,82.92,broken clouds,-16.4497,-39.0647,Porto Cálem Praia Hotel
1,15,Olinda,BR,82.13,scattered clouds,-8.0089,-34.8553,Flat Quatro Rodas Olinda
2,23,Guaira,BR,89.17,clear sky,-20.3183,-48.3106,Hotel do Lago
3,29,Omboue,GA,78.96,overcast clouds,-1.5746,9.2618,Hotel Olako
4,31,Johi,PK,85.48,broken clouds,26.6921,67.6133,Haji Fareed/ Abdul Qyoum Rodnani OTAQUE
...,...,...,...,...,...,...,...,...
192,668,Iaciara,BR,89.49,few clouds,-14.0958,-46.6317,Hotel Matinha
193,669,Momostenango,GT,77.43,clear sky,15.0436,-91.4086,Hotel Tzún
194,674,Fort Wellington,GY,83.03,overcast clouds,6.4000,-57.6000,TE'AMO Entertainment Park
195,677,Cotonou,BJ,85.98,few clouds,6.3654,2.4183,Novotel Cotonou Orisha
196,679,Panacan,PH,80.37,overcast clouds,9.2463,118.4082,Mom's Place Resort

In [17]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
# this is that HTML code 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [18]:
# 4a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(31.0, 30.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure

fig

Figure(layout=FigureLayout(height='420px'))

In [19]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=='Houston']
vacation_end = vacation_df.loc[vacation_df['City']=='Houston']
vacation_stop1 = vacation_df.loc[vacation_df['City']== 'San Patricio']
vacation_stop2 = vacation_df.loc[vacation_df['City']=='Harlingen']
vacation_stop3 = vacation_df.loc[vacation_df['City']=='Corrales']

vacation_start_df = pd.DataFrame(vacation_start)
vacation_end_df = pd.DataFrame(vacation_end)
vacation_stop1_df = pd.DataFrame(vacation_stop1)
vacation_stop2_df = pd.DataFrame(vacation_stop2)
vacation_stop3_df = pd.DataFrame(vacation_stop3)

In [20]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = tuple(vacation_start_df.to_numpy()[0][5:7])
end = tuple(vacation_end_df.to_numpy()[0][5:7])
stop1 = tuple(vacation_stop1_df.to_numpy()[0][5:7])
stop2 = tuple(vacation_stop2_df.to_numpy()[0][5:7])
stop3 = tuple(vacation_stop3_df.to_numpy()[0][5:7])

In [21]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
fig=gmaps.figure()
fig = gmaps.figure(center=(31.0, 30.0), zoom_level=1.5)
Roadtrip = gmaps.directions_layer(start, end, waypoints=[stop1,stop2,stop3], travel_mode='DRIVING')
fig.add_layer(Roadtrip)
fig

Figure(layout=FigureLayout(height='420px'))

In [22]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start_df, vacation_stop1_df, vacation_stop2_df, vacation_stop3_df],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,418,Houston,US,83.41,haze,29.7633,-95.3633,"Hotel ICON, Autograph Collection"
1,336,San Patricio,US,80.85,broken clouds,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,317,Harlingen,US,79.20,overcast clouds,26.1906,-97.6961,Courtyard by Marriott Harlingen
3,71,Corrales,US,78.98,clear sky,35.2378,-106.6067,Quality Inn

In [23]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp}F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [25]:
# 11a. Add a marker layer for each city to the map.
fig = gmaps.figure(center=(31.0, 30.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)


# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))